/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import 'bootstrap';


body {background-color: #333;font-family: "Futura", "Avenir Medium", "Calibri", "Consolas"; text-shadow: 1px 1px #000; color:white;}

a {color:white;}

table, tr {border: 0px solid white	; font-family: 'Helvetica-Light'; font-size: 14px;}

th {padding: 20px; font-size: 14px; border: 2px solid white;}

td {padding:5px; font-size: 12px; border: 2px solid white; font-weight: lighter;}

.active {color: yellow; height: 100%;}

.container {background: rgba(0,0,0,0.75); border-radius: 5px; min-width: 550px;}

.expired {background-color:red;}

#signup {display:inline-block;}

#shared_links {font-size: 18px; position:relative; display:inline-block;}

#logged_in_header, #logged_out_header {font-size: 11px; background-color:#333; color:yellow; width: 25%; min-width: 350px; height:40px; padding: 5px 5px 5px 5px; float:right; border-radius: 5px; opacity: 0.9; text-align: center}

#navbar_container {display: inline-block; position:relative;}

#navbar {font-size: 45px; background-color: navy; width: 100%; height: 100px; position:relative; margin: 2% 0px 2% 0px; display:inline-block; min-width: 450px;}

.container-fluid { height:100%;}

.center_text {  margin-left:auto; margin-right:auto; }

.large_text {font-size: 16px;}

.padded_text { margin-left:auto; margin-right:auto; padding: 0px 2% 0px 2%; position:relative; display:inline-block;}

.padding_bottom {padding-bottom: 5%;}

.padding_top {padding-top: 5%;}

.float-left { float: left;}

#items {position: relative;}

.listing { position:relative; display: inline-block;}

.form {font-color:black;}

#logo { font-size: 24px; float: left; position:relative; padding: 10px;}

#logo a, #logo em {color:yellow;}

#loans_new {display: inline-block;}

.error { color:red; font-style: italic}

.notice {font-size: 24px; color:green;}

.badge {font-size: 18px; background-color: orange;}

input, button {color:black; border-radius: 4px;}

#items, #my_items {width: 100%; font-size: 18px;}

#item-desc {}

#items_index {width: 100%;}

.item {width: 100%; margin: 4%;}

.button {padding: 25px; float:left;}

.table {clear:both;
	display: table;   /* Allow the centering to work */
	margin: 2% 0 3% 5%;
	position:absolute;
}

ul#horizontal-list {
	clear:both;
	list-style: none;
	margin: 0 4% 0 4%;
	}
	ul#horizontal-list li {
		display: inline;
		padding: 3%;
	}

